body {
  background: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.btn {
  background: red;
  margin: 10px;
}

.add-btn {
  background: rgb(241, 186, 65);
  margin-left: 10px;
  color: white;
  width: 23px;
  height: 20px;
}
.app-title {
  text-align: center;
  color: rgb(241, 186, 65);
  font-size: 70px;
}
.container {
  border: 5px solid rgb(241, 186, 65);
  border-radius: 25px;
}
.item {
  padding: 40;
  text-align: center;
  max-width: 500;
  margin: auto;
}

.add-btn:hover {
  scale: 90%;
}
